<div id="<%= dom_id concert %>">
  <p>
    <strong>Artist:</strong>
    <%= concert.artist_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= concert.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= concert.description %>
  </p>

  <p>
    <strong>Venue:</strong>
    <%= concert.venue %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= concert.date %>
  </p>

  <p>
    <strong>City:</strong>
    <%= concert.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= concert.state %>
  </p>

</div>
